[Unit]
Description=D-Bus Broker Relay

[Service]
ExecStart=/usr/lib/dbus-1.0/dbus-relay --daemon
Restart=always

[Install]
WantedBy=multi-user.target
